Repository MGKMOG003/Sustainacore, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/arch-leads, @your-org/domain-leads, @your-org/integrations, @your-org/web, @your-org/mobile, @your-org/platform

CODEOWNERS:

# CODEOWNERS
ECHO is on.
*       @your-org/arch-leads
/src/Core/           @your-org/domain-leads
/src/Infra/          @your-org/integrations
/src/Web/            @your-org/web
/src/Mobile/         @your-org/mobile
/src/Observability/  @your-org/platform
/docs/               @your-org/arch-leads

docs: fix CI badge username
  README.md
Owners: @your-org/arch-leads

project doc
  docs/Construction Management Case Study (1).pdf
Owners: @your-org/arch-leads

Add project entity, services, dashboards, and demo seed users
  ProjectService.cs
  src/Core/Sustainacore.Application/Class1.cs
  src/Core/Sustainacore.Application/Interfaces/IProjectRepository.cs
  src/Core/Sustainacore.Application/Services/ProjectService.cs
  src/Core/Sustainacore.Domain/Class1.cs
  src/Core/Sustainacore.Domain/Entities/Project.cs
  src/Core/Sustainacore.Domain/Sustainacore.Domain.csproj
  src/Infra/Sustainacore.Infrastructure/Class1.cs
  src/Infra/Sustainacore.Infrastructure/Repositories/InMemoryProjectRepository.cs
  src/Infra/Sustainacore.Infrastructure/Sustainacore.Infrastructure.csproj
  src/Mobile/Sustainacore.Mobile/Services/FirebaseAuthClient.cs
  src/Mobile/Sustainacore.Mobile/Sustainacore.Mobile.csproj
  src/Mobile/Sustainacore.Mobile/Views/Dashboards/AdminDashboard.xaml.cs
  src/Mobile/Sustainacore.Mobile/Views/LoginPage.xaml
  src/Mobile/Sustainacore.Mobile/Views/LoginPage.xaml.cs
  src/Web/Sustainacore.Api/Areas/Admin/Pages/Index.cshtml
  src/Web/Sustainacore.Api/Areas/Admin/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Api/Pages/Account/Login.cshtml
  src/Web/Sustainacore.Api/Pages/Account/Login.cshtml.cs
  src/Web/Sustainacore.Api/Pages/Account/Register.cshtml
  src/Web/Sustainacore.Api/Pages/Account/Register.cshtml.cs
  src/Web/Sustainacore.Api/Program.cs
  src/Web/Sustainacore.Api/Sustainacore.Api.csproj
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Client/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Client/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Contractor/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Contractor/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Projects/Create.cshtml
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Projects/Create.cshtml.cs
  src/Web/Sustainacore.Web/Sustainacore.Web.csproj
  src/Web/Sustainacore.Web/Views/Account/Login.cshtml
  src/Web/Sustainacore.Web/Views/Account/Register.cshtml
  tools/firebase-admin/seed.js
Owners: @your-org/arch-leads, @your-org/domain-leads, @your-org/integrations, @your-org/mobile, @your-org/web

Add project entity, services, dashboards, and demo seed users
  ProjectService.cs
  src/Core/Sustainacore.Application/Class1.cs
  src/Core/Sustainacore.Application/Interfaces/IProjectRepository.cs
  src/Core/Sustainacore.Application/Services/ProjectService.cs
  src/Core/Sustainacore.Domain/Class1.cs
  src/Core/Sustainacore.Domain/Entities/Project.cs
  src/Core/Sustainacore.Domain/Sustainacore.Domain.csproj
  src/Infra/Sustainacore.Infrastructure/Class1.cs
  src/Infra/Sustainacore.Infrastructure/Repositories/InMemoryProjectRepository.cs
  src/Infra/Sustainacore.Infrastructure/Sustainacore.Infrastructure.csproj
  src/Mobile/Sustainacore.Mobile/Services/FirebaseAuthClient.cs
  src/Mobile/Sustainacore.Mobile/Sustainacore.Mobile.csproj
  src/Mobile/Sustainacore.Mobile/Views/Dashboards/AdminDashboard.xaml.cs
  src/Mobile/Sustainacore.Mobile/Views/LoginPage.xaml
  src/Mobile/Sustainacore.Mobile/Views/LoginPage.xaml.cs
  src/Web/Sustainacore.Api/Areas/Admin/Pages/Index.cshtml
  src/Web/Sustainacore.Api/Areas/Admin/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Api/Pages/Account/Login.cshtml
  src/Web/Sustainacore.Api/Pages/Account/Login.cshtml.cs
  src/Web/Sustainacore.Api/Pages/Account/Register.cshtml
  src/Web/Sustainacore.Api/Pages/Account/Register.cshtml.cs
  src/Web/Sustainacore.Api/Program.cs
  src/Web/Sustainacore.Api/Sustainacore.Api.csproj
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Client/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Client/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Contractor/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Contractor/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Projects/Create.cshtml
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Projects/Create.cshtml.cs
  src/Web/Sustainacore.Web/Sustainacore.Web.csproj
  src/Web/Sustainacore.Web/Views/Account/Login.cshtml
  src/Web/Sustainacore.Web/Views/Account/Register.cshtml
  tools/firebase-admin/seed.js
Owners: @your-org/arch-leads, @your-org/domain-leads, @your-org/integrations, @your-org/mobile, @your-org/web

Add basic user management with in-memory users and role editing
  src/Core/Sustainacore.Application/Interfaces/IUserRepository.cs
  src/Core/Sustainacore.Application/Services/UserService.cs
  src/Core/Sustainacore.Domain/Entities/User.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Edit.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Edit.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Index.cshtml.cs
Owners: @your-org/domain-leads, @your-org/web

Implement user management with in-memory users and role editing
  src/Core/Sustainacore.Application/Interfaces/IUserRepository.cs
  src/Core/Sustainacore.Application/Services/UserService.cs
  src/Core/Sustainacore.Domain/Entities/User.cs
  src/Infra/Sustainacore.Infrastructure/Repositories/InMemoryProjectRepository.cs
  src/Web/Sustainacore.Api/Program.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Edit.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Edit.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Index.cshtml.cs
Owners: @your-org/domain-leads, @your-org/integrations, @your-org/web

Initial commit for Sustainacore sync
  src/Mobile/Sustainacore.Mobile/Sustainacore.Mobile.csproj
  src/Web/Sustainacore.Api/Program.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Edit.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Edit.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Admin/Pages/Users/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Client/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Client/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/Contractor/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/Contractor/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Index.cshtml
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Index.cshtml.cs
  src/Web/Sustainacore.Web/Areas/ProjectManager/Pages/Projects/Create.cshtml
Owners: @your-org/mobile, @your-org/web

hmepage
  src/Mobile/Sustainacore.Mobile/Sustainacore.Mobile.csproj
  src/Web/Sustainacore.Web/Views/Home/Index.cshtml
Owners: @your-org/mobile, @your-org/web

complete auth
  src/Web/Sustainacore.Web/Controllers/AccountController.cs
  src/Web/Sustainacore.Web/Controllers/HomeController.cs
  src/Web/Sustainacore.Web/Program.cs
  src/Web/Sustainacore.Web/Views/Account/Login.cshtml
  src/Web/Sustainacore.Web/Views/Account/Register.cshtml
  src/Web/Sustainacore.Web/Views/Home/Index.cshtml
  src/Web/Sustainacore.Web/wwwroot/css/login.css
  tools/firebase-admin/seed.js
Owners: @your-org/web, @your-org/arch-leads
